@font-face {
  font-family: "Montserrat-Light";
  font-weight: 300;
  font-style: normal;
  src: url(/fonts/Montserrat-Light.woff) format("woff");
}
@font-face {
  font-family: "Montserrat-Normal";
  font-weight: 400;
  font-style: normal;
  src: url(/fonts/Montserrat-Regular.woff) format("woff");
}
@font-face {
  font-family: "Montserrat-Medium";
  font-weight: 500;
  font-style: normal;
  src: url(/fonts/Montserrat-Medium.woff) format("woff");
}
@font-face {
  font-family: "Montserrat-ExtraBold";
  font-weight: 800;
  font-style: normal;
  src: url(/fonts/Montserrat-ExtraBold.woff) format("woff");
}
@font-face {
  font-family: "Montserrat-Black";
  font-weight: 900;
  font-style: normal;
  src: url(/fonts/Montserrat-Black.woff) format("woff");
}
* {
  margin: 0;
}

html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

body {
  min-width: 320px;
  overflow-x: hidden;
  background-color: #030304;
  color: #fff;
  font-family: "Montserrat-Normal", "Arial", "sans-serif";
  font-size: 15px;
  line-height: 116.9%;
}

.container {
  padding: 0 24px;
}

@media (min-width: 834px) {
  .container {
    padding: 0 57px 0 52px;
  }
}
@media (min-width: 1240px) {
  .container {
    padding: 0 57px 0 59px;
  }
}
@media (min-width: 1920px) {
  .container {
    padding: 0 122px 0 129px;
  }
}
.main-header {
  background-color: #151515;
}
.main-header__inner {
  min-height: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.main-header__menu {
  display: flex;
  gap: 13px;
}

@media (min-width: 834px) {
  .main-header__inner {
    min-height: 52px;
  }
  .logo__pic {
    width: 152px;
    height: 23px;
  }
}
@media (min-width: 1240px) {
  .main-header__inner {
    min-height: 74px;
  }
  .logo__pic {
    width: 175px;
    height: 27px;
  }
}
@media (min-width: 1920px) {
  .main-header__inner {
    min-height: 76px;
  }
}
.menu__call-icon::before {
  display: block;
  content: url(/images/call.svg);
  width: 14px;
  height: 14px;
}

@media (min-width: 834px) {
  .menu__call-icon::before {
    display: none;
  }
  .menu__call-icon::after {
    display: inline-block;
    content: "8 800 600 83 17";
    color: #fff;
  }
}
.menu__btn {
  width: 17px;
  height: 12px;
  border: none;
  background-color: inherit;
  position: relative;
}
.menu__btn::after {
  content: "";
  position: absolute;
  width: 17px;
  height: 1px;
  border-radius: 1px;
  background-color: #fff;
  top: 0;
  left: 0;
  box-shadow: 0 6px 0 0 #fff, 0 12px 0 0 #fff;
}

@media (min-width: 834px) {
  .menu__btn {
    display: none;
  }
  .menu__sign-in {
    width: 19px;
    height: 19px;
  }
}
@media (min-width: 1240px) {
  .menu__sign-in {
    width: 28px;
    height: 28px;
  }
}
@media (min-width: 1920px) {
  .menu__sign-in {
    width: 36px;
    height: 36px;
  }
}
.intro {
  max-height: 535px;
  padding-top: 81px;
  padding-bottom: 15px;
  background-image: url(/images/abs-picture.svg);
  background-repeat: no-repeat;
  background-position: bottom right;
}

@media (min-width: 834px) {
  .intro {
    max-height: 1142px;
    padding-top: 199px;
    padding-bottom: 0px;
    background-image: url(/images/introbg-834.svg);
  }
  .intro__title {
    font-family: "Montserrat-ExtraBold";
    letter-spacing: 0.36px;
    line-height: 88.9%;
    font-size: 24px;
  }
  .intro__text {
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 109.9%;
    letter-spacing: -0.4px;
    margin-top: 10px;
  }
  .intro__small-text {
    font-size: 16px;
    font-style: normal;
    font-weight: 275;
    line-height: 109.9%;
    letter-spacing: -0.32px;
    margin-top: 56px;
  }
}
@media (min-width: 1240px) {
  .intro {
    max-height: 986px;
    padding-top: 128px;
    padding-bottom: 10px;
    background-image: url(/images/introbg-1240.svg);
  }
}
@media (min-width: 834px) {
  .intro__title {
    font-family: "Montserrat-ExtraBold";
    line-height: 88.9%;
    font-size: 48px;
    letter-spacing: 0.72px;
  }
  .intro__text {
    font-family: "Montserrat-Medium";
    font-size: 40px;
    line-height: 109.9%; /* 43.96px */
    letter-spacing: -0.8px;
  }
  .intro__small-text {
    font-family: "Montserrat-Light";
    font-size: 28px;
    font-weight: 275;
    line-height: 109.9%; /* 30.772px */
    letter-spacing: -0.56px;
  }
}
@media (min-width: 1240px) {
  .intro__title {
    font-family: "Montserrat-ExtraBold";
    font-size: 62px;
    letter-spacing: 0.93px;
  }
  .intro__small-text {
    font-family: "Montserrat-Light";
    font-size: 32px;
    letter-spacing: -0.564px;
  }
}
@media (min-width: 1920px) {
  .intro__titlle {
    font-size: 80px;
    letter-spacing: 1.2px;
  }
  .intro__text {
    font-size: 50px;
    line-height: 109.9%; /* 43.96px */
    letter-spacing: -1px;
  }
  .intro__small-text {
    font-size: 35px;
    letter-spacing: -0.7px;
  }
}
.intro__connect-panel {
  display: flex;
  flex-direction: column;
  align-content: flex-end;
  flex-wrap: wrap;
  margin-top: 100px;
}

.intro__pics {
  display: none;
}

@media (min-width: 834px) {
  .intro__pics {
    display: flex;
    gap: 55px 53px;
  }
  .intro__tablet-pic {
    display: block;
  }
  .intro-1240-pic {
    display: none;
  }
}
@media (min-width: 1240px) {
  .intro__pics {
    display: flex;
    gap: 68px 66px 68px;
    width: 192px;
  }
  .intro__pic {
    width: 192px;
    height: 223px;
  }
  .intro-1240-pic {
    display: block;
  }
}
@media (min-width: 834px) {
  .intro__connect-panel {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 344px;
    justify-content: space-between;
  }
}
@media (min-width: 1240px) {
  .intro__connect-panel {
    margin-top: 223px;
  }
}
.connect-panel__wrapper {
  display: flex;
  flex-direction: column;
  max-width: 39px;
  max-height: 135px;
  background: rgba(255, 255, 255, 0.15);
  border-radius: 6px;
}

.connect-panel__social {
  display: flex;
  flex-direction: column;
  padding: 12px 9px 10px 10px;
  gap: 10px;
}

@media (min-width: 834px) {
  .connect-panel__social {
    padding: 16px 12px 14px 13px;
    gap: 14px;
  }
}
.phone-icon {
  width: 15px;
}

.whatsapp-icon {
  width: 19px;
}

.telegramm-icon {
  width: 18px;
}

@media (min-width: 834px) {
  .phone-icon {
    width: 20px;
  }
  .whatsapp-icon {
    width: 25px;
  }
  .telegramm-icon {
    width: 24px;
  }
}/*# sourceMappingURL=style.css.map */