@import "vars";
@import "fonts";

* {
  margin: 0;
}

html {
  box-sizing: border-box;
}
*,
*::after,
*::before {
  box-sizing: inherit;
}

body {
  min-width: 320px;
  overflow-x: hidden;
  background-color: $main;
  color: #fff;
  font-family: "Montserrat-Normal", "Arial", "sans-serif";
  font-size: 15px;
  line-height: 116.9%;
}

.container {
  padding: 0 6%;
}

@media (min-width: 834px) {
  .container {
    padding: 0 55px 0 52px;
  }
}

@media (min-width: 1240px) {
  .container {
    padding: 0 64px 0 59px;
  }
}

@media (min-width: 1920px) {
  .container {
    padding: 0 122px 0 0px;
  }
}

.main-header {
  background-color: $accent;
  &__inner {
    min-height: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__menu {
    display: flex;
    gap: 13px;
  }
}

@media (min-width: 834px) {
  .main-header__inner {
    min-height: 52px;
  }

  .main-header__menu {
    display: flex;
    align-items: center;
  }

  .logo__pic {
    width: 152px;
    height: 23px;
  }
}

@media (min-width: 1240px) {
  .main-header__inner {
    min-height: 74px;
  }

  .logo__pic {
    width: 175px;
    height: 27px;
  }
}

@media (min-width: 1920px) {
  .main-header__inner {
    min-height: 76px;
    margin-left: 124px;
  }
}

.menu__call-icon::before {
  display: block;
  content: url(/images/call.svg);
  width: 14px;
  height: 14px;
}

@media (min-width: 834px) {
  .menu__call-icon::before {
    display: none;
  }
  .menu__call-icon::after {
    display: block;
    content: "8 800 600 83 17";
    color: #fff;
  }
}

.menu__btn {
  width: 17px;
  height: 12px;
  border: none;
  background-color: inherit;
  position: relative;
  &::after {
    content: "";
    position: absolute;
    width: 17px;
    height: 1px;
    border-radius: 1px;
    background-color: #fff;
    top: 0;
    left: 0;
    box-shadow: 0 6px 0 0 #fff, 0 12px 0 0 #fff;
  }
}
@media (min-width: 834px) {
  .menu__btn {
    display: none;
  }
  .menu__sign-in {
    width: 19px;
    height: 19px;
  }
}

@media (min-width: 1240px) {
  .menu__sign-in {
    width: 28px;
    height: 28px;
  }
}

@media (min-width: 1920px) {
  .menu__sign-in {
    width: 36px;
    height: 36px;
  }
}

.intro {
  max-height: 535px;
  padding-top: 81px;
  padding-bottom: 15px;
  background-image: url(/images/abs-picture.svg);
  background-repeat: no-repeat;
  background-position: bottom right;
  &__title {
    font-family: "Montserrat-ExtraBold";
    letter-spacing: 0.36px;
    line-height: 88.9%;
    font-size: 24px;
  }
  &__text {
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 109.9%;
    letter-spacing: -0.4px;
    margin-top: 10px;
  }
  &__small-text {
    font-size: 16px;
    font-style: normal;
    font-weight: 275;
    line-height: 109.9%;
    letter-spacing: -0.32px;
    margin-top: 56px;
  }
}

@media (min-width: 834px) {
  .intro {
    max-height: 1142px;
    padding-top: 199px;
    padding-bottom: 0px;
    background-image: url(/images/introbg-834.svg);
    &__title {
      font-family: "Montserrat-ExtraBold";
      line-height: 88.9%;
      font-size: 48px;
      letter-spacing: 0.72px;
    }
    &__text {
      font-family: "Montserrat-Medium";
      font-size: 40px;
      line-height: 109.9%; /* 43.96px */
      letter-spacing: -0.8px;
    }

    &__small-text {
      font-family: "Montserrat-Light";
      font-size: 28px;
      font-weight: 275;
      line-height: 109.9%; /* 30.772px */
      letter-spacing: -0.56px;
    }
  }
}

@media (min-width: 1240px) {
  .intro {
    max-height: 986px;
    padding-top: 128px;
    // padding-bottom: 10px;
    background-image: url(/images/introbg-1240.svg);
    &__title {
      font-family: "Montserrat-ExtraBold";
      font-size: 62px;
      letter-spacing: 0.93px;
    }
    &__small-text {
      font-family: "Montserrat-Light";
      font-size: 32px;
      letter-spacing: -0.564px;
    }
  }
}

@media (min-width: 1920px) {
  .intro {
    max-height: 984px;
    padding-top: 182px;
    // padding-bottom: 10px;
    background-image: url(/images/introbg1920.svg);
    &__info {
      margin-left: 127px;
    }
    &__titlle {
      font-size: 80px;
      letter-spacing: 1.2px;
    }
    &__text {
      font-size: 50px;
      line-height: 109.9%; /* 43.96px */
      letter-spacing: -1px;
    }
    &__small-text {
      font-size: 35px;
      letter-spacing: -0.7px;
    }
  }
}

.intro__connect {
  display: flex;
  flex-direction: column;
  align-content: flex-end;
  flex-wrap: wrap;
  margin-top: 100px;
}
@media (min-width: 834px) {
  .intro__connect {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 344px;
    justify-content: space-between;
  }
}

@media (min-width: 1240px) {
  .intro__connect {
    margin-top: 223px;
  }
}

@media (min-width: 1920px) {
  .intro__connect {
    margin-top: 50px;
    margin-left: 49px;
  }
}

.intro__pics {
  display: none;
}

@media (min-width: 834px) {
  .intro {
    &__pics {
      display: flex;
      gap: 55px 53px;
    }
    &__tablet-pic {
      display: block;
    }
    &-1240-pic {
      display: none;
    }
    &-1920-pic {
      display: none;
    }
  }
}

@media (min-width: 1240px) {
  .intro {
    &__pics {
      gap: 68px 66px 68px;
      width: 192px;
      margin-bottom: 28px;
    }

    &__pic {
      width: 192px;
      height: 223px;
    }
    &-1240-pic {
      display: block;
    }
  }
}

@media (min-width: 1920px) {
  .intro {
    &__pics {
      gap: 89px;
      margin-bottom: 22px;
      //   width: 192px;
    }

    &__pic {
      width: 258px;
      height: 298px;
    }
    &-1920-pic {
      display: block;
    }
  }
}

.connect-panel__wrapper {
  // position: relative;
  display: flex;
  flex-direction: column;
  max-width: 39px;
  max-height: 135px;
  background: rgba(255, 255, 255, 0.15);
  border-radius: 6px;
  justify-content: space-between;
}

@media (min-width: 834px) {
  .connect-panel__wrapper {
    max-width: 51px;
    max-height: 177px;
    margin-bottom: 37px;
  }
}

@media (min-width: 1240px) {
  .connect-panel__wrapper {
    max-width: 51px;
    max-height: 180px;
    margin-bottom: 41px;
    align-self: end;
  }
}
@media (min-width: 1920px) {
  .connect-panel__wrapper {
    max-width: 82px;
    max-height: 284px;
    // margin-bottom: 41px;
  }
}

.connect-panel__social {
  display: flex;
  flex-direction: column;
  padding: 12px 9px 10px 10px;
  gap: 10px;
  align-items: center;
}

@media (min-width: 834px) {
  .connect-panel__social {
    padding: 16px 12px 14px 13px;
    gap: 14px;
  }
}
@media (min-width: 1920px) {
  .connect-panel__social {
    padding: 26px 19px 22px 22px;
    gap: 14px;
  }
}

.phone-icon {
  width: 15px;
}

.whatsapp-icon {
  width: 19px;
}

.telegramm-icon {
  width: 18px;
}

.back-link-icon {
  width: 39px;
  height: 39px;
}

@media (min-width: 834px) {
  .phone-icon {
    width: 20px;
  }

  .whatsapp-icon {
    width: 25px;
  }

  .telegramm-icon {
    width: 24px;
  }
  .back-link-icon {
    width: 51px;
    height: 51px;
  }
}

@media (min-width: 1920px) {
  .phone-icon {
    width: 33px;
  }

  .whatsapp-icon {
    width: 41px;
  }

  .telegramm-icon {
    width: 39px;
  }
  .back-link-icon {
    width: 82px;
    height: 82px;
  }
}

// PROJECTS

.projects {
  position: relative;
  max-height: 680px;
  padding-top: 40px;
  &__inner {
    display: grid;
    grid-template-columns: 46% 54%;
    grid-template-rows: repeat(5, minmax(90px, auto));
    grid-row-gap: 18px;
  }
  &__border-pic {
    position: absolute;
    left: 0;
  }
  &__heading {
    grid-row: 1 / 6;
  }
  &__title {
    color: #fff;
    font-family: "Montserrat-Normal";
    font-size: 20px;
    line-height: 104.4%; /* 20.88px */
    letter-spacing: -0.7px;
    padding-top: 14px;
    max-width: 120px;
    grid-row: 1/5;
  }

  &__pic {
    position: absolute;
    top: 123px;
    left: 15px;
  }

  // &__items {
  //   // display: flex;
  //   // flex-wrap: wrap;
  //   width: 53%;
  //   padding-left: 3%;
  //   gap: 18px;
  // }

  &__project-title {
    color: #fff;
    font-size: 15px;
    font-family: "Montserrat-ExtraBold";
    line-height: 100.4%; /* 15.06px */
    letter-spacing: -0.15px;
    max-width: 137px;
  }

  &__project-text {
    color: #fff;
    font-family: "Montserrat-Normal";
    font-size: 9px;
    line-height: 116.9%;
    max-width: 124px;
  }

  &__item img {
    margin-bottom: 6px;
    margin-top: 6px;
  }
}
.dashed-line-320 {
  position: absolute;
  left: 37%;
}

@media (min-width: 834px) {
  .projects {
    max-height: 520px;
    padding-top: 46px;

    &__inner {
      grid-template-columns: 1fr 1fr 1fr;
      grid-template-rows: repeat(5, minmax(90px, auto));
    }

    &__heading {
      grid-row: 1 / 1;
    }

    &__title {
      font-size: 32px;
      letter-spacing: -1.12px;
    }

    &__pic {
      display: none;
    }

    &__items {
      width: 68%;
      display: flex;
      flex-wrap: wrap;
      padding-left: 3%;
      gap: 18px;
    }

    .dashed-line-320 {
      left: 30%;
    }
  }
}
