@import "vars";
@import "fonts";
@font-face {
  font-family: "Montserrat";
  src: url(/fonts/Montserrat-VariableFont_wght.ttf);
}
* {
  margin: 0;
}

html {
  box-sizing: border-box;
}
*,
*::after,
*::before {
  box-sizing: inherit;
}

body {
  min-width: 320px;
  overflow-x: hidden;
  background-color: $main;
  color: #fff;
  font-family: "Montserrat";
}

.container {
  padding: 0 24px;
}

@media (min-width: 834px) {
  .container {
    padding: 0 57px 0 52px;
  }
}

@media (min-width: 1240px) {
  .container {
    padding: 0 57px 0 59px;
  }
}

@media (min-width: 1920px) {
  .container {
    padding: 0 122px 0 129px;
  }
}

.main-header {
  background-color: $accent;
  &__inner {
    min-height: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

@media (min-width: 834px) {
  .main-header__inner {
    min-height: 52px;
  }
  .logo__pic {
    width: 152px;
    height: 23px;
  }
}

@media (min-width: 1240px) {
  .main-header__inner {
    min-height: 74px;
  }
  .logo__pic {
    width: 175px;
    height: 27px;
  }
}

@media (min-width: 1920px) {
  .main-header__inner {
    min-height: 76px;
  }
}

.main-header__menu {
  display: flex;
  gap: 13px;
}

.menu__call-icon::before {
  display: block;
  content: url(/images/call.svg);
  width: 14px;
  height: 14px;
}

@media (min-width: 834px) {
  .menu__call-icon::before {
    display: none;
  }
  .menu__call-icon::after {
    display: inline-block;
    content: "8 800 600 83 17";
    color: #fff;
  }
}

.menu__btn {
  width: 17px;
  height: 12px;
  border: none;
  background-color: inherit;
  position: relative;
  &::after {
    content: "";
    position: absolute;
    width: 17px;
    height: 1px;
    border-radius: 1px;
    background-color: #fff;
    top: 0;
    left: 0;
    box-shadow: 0 6px 0 0 #fff, 0 12px 0 0 #fff;
  }
}
@media (min-width: 834px) {
  .menu__btn {
    display: none;
  }
  .menu__sign-in {
    width: 19px;
    height: 19px;
  }
}

@media (min-width: 1240px) {
  .menu__sign-in {
    width: 28px;
    height: 28px;
  }
}

@media (min-width: 1920px) {
  .menu__sign-in {
    width: 36px;
    height: 36px;
  }
}

.intro {
  max-height: 535px;
  padding-top: 81px;
  padding-bottom: 15px;
  position: relative;
}

.intro__pic {
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: -1;
  filter: brightness(1.3);
  opacity: 0.6;
}

.intro__title {
  font-size: 24px;
  font-style: normal;
  font-weight: 800;
  line-height: 88.9%;
  letter-spacing: 0.36px;
}

.intro__text {
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 109.9%;
  letter-spacing: -0.4px;
  margin-top: 10px;
}

.intro__small-text {
  font-size: 16px;
  font-style: normal;
  font-weight: 275;
  line-height: 109.9%;
  letter-spacing: -0.32px;
  margin-top: 56px;
}

.intro__connect-panel {
  display: flex;
  flex-direction: column;
  align-content: flex-end;
  //   justify-content: center;
  //   align-items: center;
  flex-wrap: wrap;
  margin-top: 100px;
}

.connect-panel__wrapper {
  display: flex;
  flex-direction: column;
  max-width: 39px;
  max-height: 135px;
  background: rgba(255, 255, 255, 0.15);
  border-radius: 6px;
  //   padding-top: 12px;
}

.connect-panel__social {
  display: flex;
  flex-direction: column;
  padding: 12px 9px 10px 10px;
  gap: 10px;
}

.connect-panel__social img {
  //   margin: 0 auto;
  width: 100%;
}

.connect-panel__back-link img {
  max-width: 100%;
  height: auto;
}
